---
const { title, text, id, img } = Astro.props
---

<article class="flex gap-7 lg:items-center">
  <img src={img} alt={title} class="w-28 lg:h-28" />
  <div>
    <h4 class="text-SoftOrange text-3xl font-bold mb-4">0{id}</h4>
    <h2 class="font-extrabold text-lg my-5">{title}</h2>
    <p>{text}</p>
  </div>
</article>
